/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$teal: #5FB2C4;
$light-blue:#B8E9F4;
$yellow: #F4CF7E;
$orange: #D16046;
$brown:#94705A;
$light-brown:#E3CEC1;
$tan: #EAE0D3;
$sand: #FDF7F1;